* {
   box-sizing: border-box;
}

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #fafafa;
   color: #212121;
   line-height: 1.5;
   padding: 30px;
   min-height: 100vh;
   background: linear-gradient(135deg, #35b5ff 0%, #cbebff 53%, #f0f9ff 100%);
   background-repeat: no-repeat;
   background-size: auto 100%;
   /* background-size: contain; */
}

#search-box {
   font: inherit;
   padding: 8px;
   min-width: 320px;
   /* max-width: 320px; */
   margin-bottom: 16px;
   background-color: #fff;
   outline: 0;
   outline-offset: 0;
   border: 2px solid #90a4e7;
   border-radius: 4px;
}

#search-box:focus {
   border: 2px solid #5676cf;
   box-shadow: 0 0 10px 0 #5676cf;
}
